h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho{
    background-color: blue;
}

ul .link{
    color: #000000;
    display: inline;
    margin: 5px;

     /* Nesting links */
        a{
            text-decoration: none;
            color: #000000;
        }
    
}


#menu ul{
    text-align: center;
    
}