
/* Comentário */
/*
    Este é um comentário 
    em BLOCO em CSS
*/
/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

/* Tag */
h1{
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

/* Class */
.link{
    color: #09af17;
    
}

ul .link{
    color: #000000;
    display: inline;
    margin: 5px;

     /* Nesting links */
        a{
            text-decoration: none;
            color: #000000;
        }
    
}


#menu ul{
    text-align: center;
    
}

/* ID */
#container{
    width: 80%;
    height: 100%;
    border: 2px solid #000;
    margin: 0 auto;
}

#cabecalho{
    background-color: blue;
}
